In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [4]:
df = pd.read_csv('data/train.tsv', sep='\t')
df

,8640,2019-07-31T00:00:00.000,POINT (2402260.204455464 473328.926465227),0
0,8640,2019-07-31T00:00:00.000,POINT (2402813.677910915 474557.51637712587),1
1,8640,2019-07-31T00:00:00.000,POINT (2399803.600705054 474442.6596569324),2
2,8640,2019-07-31T00:00:00.000,POINT (2400759.852366462 472406.4289242615),3
3,8640,2019-07-31T00:00:00.000,POINT (2400937.8548142486 471502.26925464044),4
4,8640,2019-07-31T00:00:00.000,POINT (2402699.027901029 474476.898268871),5
...,...,...,...,...
41065914,12959,2019-08-14T23:55:00.000,POINT (2401681.0240090624 473558.6772320744),9995
41065915,12959,2019-08-14T23:55:00.000,POINT (2401149.494151651 470574.4069413735),9996
41065916,12959,2019-08-14T23:55:00.000,POINT (2401260.6542374277 471793.33056893264),9997
41065917,12959,2019-08-14T23:55:00.000,POINT (2401164.375583787 472479.67479755223),9998
41065918,12959,2019-08-14T23:55:00.000,POINT (2400458.3994224034 471731.27930514235),9999

In [2]:
data_dict = dict(zip(np.arange(10000),[[] for _ in range(10000)]))
with open("data/train.tsv", 'r') as f:
    lines = f.readlines()
    for line in tqdm(lines):
        coors_ = line.split('\t')[2].split('(')[1][:-1].split(' ')
        coor = [float(item) for item in coors_]
        index_id = int(line.split('\t')[3].split('\n')[0])
        data_dict[index_id].append(coor)

100%|██████████| 41065920/41065920 [01:58<00:00, 347035.88it/s]

In [5]:
data = []
for i in tqdm(range(10000)):
    item = np.array(data_dict[i])
    if len(item) > 0:
        data.append(item)

100%|██████████| 10000/10000 [00:19<00:00, 511.89it/s]

In [15]:
data_1 = np.concatenate(data, axis=0).reshape(-1,4320,2)
# data_t=np.stack(data)

In [24]:
np.save("data/train.npy", data_1)

In [25]:
data2 = np.load("data/train.npy")

In [26]:
data2.shape

(9506, 4320, 2)

In [28]:
np.all(data2==data_1)

True